.jogPage {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--grey-4);
    .jogHeader{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grey-3);
        h1{
            color: var(--grey-4);
            font-family: var(--font-family);
            font-weight: var(--font-weight-1);
            font-size: var(--font-size-2);
        }
    }
    .jogMain{
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
    margin-bottom: 6%;
    ul{
         max-width: 560px;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .jogCard{
             max-width: 100%;
            height: 100%;
            background-color: var(--grey-1);
            border-left: 4px solid var(--color-secondary);
            border-radius: 4px;
            padding: 10px 20px 10px 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            .cardHead{
                display: flex;
                flex-direction: row;
                max-width: 100%;
                height: 50%;
                justify-content: space-between;
                align-items: center;
                h1{
                    color: var(--grey-4);
                    font-family: var(--font-family);
                    font-weight: var(--font-weight-1);
                    font-size: var(--font-size-3);
                }
            }
            .cardInfo{
                h3{
                    color: var(--grey-4);
                    font-family: var(--font-family);
                    font-weight: var(--font-weight-2);
                    font-size: var(--font-size-4);
                }
            }
        }
    }
}

}
.buttonDiv {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.button {
    width: 200px;
    height: 40px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 4px;
    color: white;
    font-family: var(--font-family);
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-3);
    cursor: pointer;
    &:hover {
        background-color: var(--color-primary-2);
    }
}