:root {
    --color-primary: #FD377E;
    --color-primary-2: #E34981;
    --color-secondary: #03B898;
    --grey-4: #212529;
    --grey-3: #868E96;
    --grey-2: #E9ECEF;
    --grey-1: #F8F9FA;

    --font-family: "Inter", serif;
    --font-weight-1: 700;
    --font-weight-2: 400;
    --font-size-1: 38px;
    --font-size-2: 22px;
    --font-size-3: 16px;
    --font-size-4: 12px;
}
html {
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--grey-4);
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}