.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .pergunta{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        .button {
            width: 200px;
            height: 40px;
            background-color: var(--color-primary);
            border: none;
            border-radius: 4px;
            color: white;
            font-family: var(--font-family);
            font-weight: var(--font-weight-1);
            font-size: var(--font-size-3);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            &:hover {
            background-color: var(--color-primary-2);
        }
        }
    }
}
.h1 {
    color: var(--grey-3);
    font-family: var(--font-family);
    font-weight: var(--font-weight-1);
    font-size: var(--font-size-2);
}